{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% load widget_tweaks %}
{% block content %}
<h1 class="title">My Expenses</h1>

<p><a class="button is-link" href="{% url 'expense_create' %}">Add Expense</a></p>
<!-- Existing Expenses Table -->
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Date</th>
            <th>Label</th>
            <th>Group</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.label.name }}</td>
            <td>{{ expense.label.group.name }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.notes }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="5">No expenses yet.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
